body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container styles */
#color-box {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
}


#color-box h1 {
    font-size: 24px;
    color: #333;
}


#color-display {
    font-size: 18px;
    margin-top: 20px;
}


#switch-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


#switch-button:hover {
    background-color: #0056b3;
}